


/************************/
/*SPLASH PAGE*/
/************************/
#mainContainer{
	padding-top: 30px;
	border-radius: 5px;
	margin-top: 5px;
}
#mainName{
	
}

#mainPic{
	margin-top: 30px;
	width: 40%;
	border-radius: 50%;
}

/************************/
/*RESUME*/
/************************/
#resumePic{
	border-radius: 50px;
	height: 200px;
}